<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Almoço</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="index4.html">
        <div id="login-container">
            <h1>Reserve seu Almoço</h1>
            <a id="forgot-pass">Somente até as 11h</a>

            </a>
            <br>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu email">
            <div class="half-box spacing">
                <label for="name">Nome Completo</label>
                <input type="text" name="name" id="name" placeholder="Digite o seu nome">
            </div>
            <div class="half-box">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a sua senha">
            </div>



            <a href="card2.html" id="forgot-pass">Ver Cardápio</a>
            <br>


            <br><input type="Radio" name="Gostou" value="Ótimo">Tradicional</p><br>
            <p> <input type="Radio" name="Gostou" value="Bom" CHECKED>
                Vegetariana</p>
            <p>
                <br>


                <input type="submit" value="Reservar">

                <div id="social-container">
                    <p>Poste uma foto do seu lanche nas suas redes sociais e nos marque, adorariamos viver esse momento
                        com você!</p>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook"></i></a>
                    <a href="https://www.google.com/" target="_blank">
                        <i class="fa fa-google"></i></a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa fa-instagram"></i></a>
                    <a href="http://linkedin.com/" target="_blank">
                        <i class="fa fa-linkedin"></i></a>
                </div>
                <div id="register-container">
                    <p>Ainda não tem uma conta?</p>
                    <a href="index2.html">Registrar</a>
                </div>
        </div>
    </form>
</body>

</html>