<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="stylecard2.css">
</head>

<body>

    <form action="index4.html">
        <div id="main-container">
            <h1></h1>
            <div id="social-container">
                </br>
                <label>
                    <label>


                        <br>
                        <h1>Cardápio</h1>
                        <br>
    </form>
    <table>
        <thead>
            <tr>
                <th>Bebidas</th>
            </tr>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="imagem"><img id="card" src="cocalatar.png" alt="CANTIF"></td>
                <td data-title="produto">Coca cola lata</td>
                <td data-title="valor">R$4,00</td>

                <td>
                    <form method="get" action="card1.html" target="_blank"><button>Detalhar</button></form>
                </td>
            </tr>
            <tr>
                <td data-title="imagem"><img id="card" src="cocavidroq.jpg" alt="CANTIF"></td>
                <td data-title="produto">Coca cola vidro</td>
                <td data-title="valor">R$4,50</td>
                <td>
                    <form method="get" action="card3.html"><button>Detalhar</button></form>
                </td>
            </tr>
            <tr>
                <td data-title="imagem"><img id="card" src="sucolatar.png" alt="CANTIF"></td>
                <td data-title="produto">Suco lata</td>
                <td data-title="valor">R$4,75</td>
                <td>
                    <form method="get" action="card4.html"><button>Detalhar</button></form>
                </td>
            </tr>
            <tr>
                <td data-title="imagem"><img id="card" src="sucogarrafa.png" alt="CANTIF"></td>
                <td data-title="produto">Suco Garrafa</td>
                <td data-title="valor">R$5,50</td>
                <td>
                    <form method="get" action="card5.html"><button>Detalhar</button></form>
                </td>
            </tr>
            <tr>
                <td data-title="imagem"><img id="card" src="cafeposto.png" alt="CANTIF"></td>
                <td data-title="produto">Café expresso</td>
                <td data-title="valor">R$4,00</td>
                <td>
                    <form method="get" action="card6.html"><button>Detalhar</button></form>
                </td>
            </tr>
            <tr>
                <td data-title="imagem"><img id="card" src="cafecaseiro.png" alt="CANTIF"></td>
                <td data-title="produto">Café caseiro</td>
                <td data-title="valor">R$3,00</td>
                <td>
                    <form method="get" action="card7.html"><button>Detalhar</button></form>

                </td>
            </tr>

            <br>
            <br>
            <br>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Salgados</th>
                    </tr>
                    <tr>
                        <th>Imagem</th>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="imagem"><img id="card" src="coxinha.png" alt="CANTIF"></td>
                        <td data-title="produto">Coxinha</td>
                        <td data-title="valor">R$6,00</td>

                        <td>
                            <form method="get" action="card8.html"><button>Detalhar</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="imagem"><img id="card" src="pastelcarne.png" alt="CANTIF"></td>
                        <td data-title="produto">Pastel frito</td>
                        <td data-title="valor">R$7,00</td>
                        <td>
                            <form method="get" action="card9.html"><button>VDetalhar</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="imagem"><img id="card" src="pastelfolhado.jpg" alt="CANTIF"></td>
                        <td data-title="produto">Pastel folhado</td>
                        <td data-title="valor">R$7,50</td>
                        <td>
                            <form method="get" action="card10.html"><button>Detalhar</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="imagem"><img id="card" src="risoleees.jpg" alt="CANTIF"></td>
                        <td data-title="produto">Risoles</td>
                        <td data-title="valor">R$4,50</td>
                        <td>
                            <form method="get" action="card11.html"><button>Detalhar</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="imagem"><img id="card" src="sanduiche.png" alt="CANTIF"></td>
                        <td data-title="produto">Sanduiche</td>
                        <td data-title="valor">R$5,00</td>
                        <td>
                            <form method="get" action="card12.html"><button>Detalhar</button></form>
                        </td>
                    </tr>
                    <tr>
                        <td data-title="imagem"><img id="card" src="cachorrinho.png" alt="CANTIF"></td>
                        <td data-title="produto">Cachorro Quente</td>
                        <td data-title="valor">R$8,00</td>
                        <td>
                            <form method="get" action="card13.html"><button>Detalhar</button></form>

                        </td>
                    </tr>

                    <table>
                        <thead>
                            <tr>
                                <th>Doces</th>
                            </tr>
                            <tr>
                                <th>Imagem</th>
                                <th>Produto</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="imagem"><img id="card" src="cocada.png" alt="CANTIF"></td>
                                <td data-title="produto">Cocada</td>
                                <td data-title="valor">R$4,00</td>

                                <td>
                                    <form method="get" action="card14.html"><button>Detalhar</button></form>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="imagem"><img id="card" src="pudim.png" alt="CANTIF"></td>
                                <td data-title="produto">Mini Pudim</td>
                                <td data-title="valor">R$6,00</td>
                                <td>
                                    <form method="get" action="card15.html"><button>Detalhar</button></form>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="imagem"><img id="card" src="tortalimao.png" alt="CANTIF"></td>
                                <td data-title="produto">Fatia de torta de limão</td>
                                <td data-title="valor">R$10,00</td>
                                <td>
                                    <form method="get" action="card16.html"><button>Detalhar</button></form>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="imagem"><img id="card" src="bolo.png" alt="CANTIF"></td>
                                <td data-title="produto">Fatia de bolo de morando</td>
                                <td data-title="valor">R$12,00</td>
                                <td>
                                    <form method="get" action="card17.html"><button>Detalhar</button></form>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="imagem"><img id="card" src="brigadeiro.png" alt="CANTIF"></td>
                                <td data-title="produto">Brigadeiro</td>
                                <td data-title="valor">R$3,50</td>
                                <td>
                                    <form method="get" action="card18.html"><button>Detalhar</button></form>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="imagem"><img id="card" src="salada.png" alt="CANTIF"></td>
                                <td data-title="produto">Salada de Frutas</td>
                                <td data-title="valor">R$7,50</td>
                                <td>
                                    <form method="get" action="card19.html"><button>Detalhar</button></form>

                                </td>
                            </tr>

                            <br>
                            <table>
                                <thead>

                                    <tr>
                                        <br><br><br><br>
                                        <h1>Almoço</h1>
                                        <th>Segunda-Feira</th>
                                    </tr>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Produto</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="imagem"><img id="card" src="segundan.jpg" alt="CANTIF"></td>
                                        <td data-title="produto">Tradicional</td>
                                        <td data-title="valor">R$18,00</td>

                                        <td>
                                            <form method="get" action="card20.html"><button>Detalhar</button></form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-title="imagem"><img id="card" src="segundaf.jpg" alt="CANTIF"></td>
                                        <td data-title="produto">Fitness</td>
                                        <td data-title="valor">R$16,00</td>
                                        <td>
                                            <form method="get" action="card21.html"><button>Detalhar</button></form>
                                        </td>
                                    </tr>
                            </table>
                            <table>
                                </thead>
                                <thead>
                                    <th>Terça-Feira</th>
                                    </tr>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Produto</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-title="imagem"><img id="card" src="terçaa.jpg" alt="CANTIF"></td>
                                        <td data-title="produto">Tradicional</td>
                                        <td data-title="valor">R$18,00</td>

                                        <td>
                                            <form method="get" action="card22.html"><button>Detalhar</button></form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-title="imagem"><img id="card" src="terçaf.jpg" alt="CANTIF"></td>
                                        <td data-title="produto">Fitness</td>
                                        <td data-title="valor">R$16,00</td>
                                        <td>
                                            <form method="get" action="card23.html"><button>Detalhar</button></form>
                                        </td>
                                    </tr>
                                    <table>
                                        <thead>

                                            <tr>

                                                <th>Quarta-Feira</th>
                                            </tr>
                                            <tr>
                                                <th>Imagem</th>
                                                <th>Produto</th>
                                                <th>Valor</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-title="imagem"><img id="card" src="quartat.jpg" alt="CANTIF">
                                                </td>
                                                <td data-title="produto">Tradicional</td>
                                                <td data-title="valor">R$18,00</td>

                                                <td>
                                                    <form method="get" action="card24.html"><button>Detalhar</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-title="imagem"><img id="card" src="quartaf.jpg" alt="CANTIF">
                                                </td>
                                                <td data-title="produto">Fitness</td>
                                                <td data-title="valor">R$16,00</td>
                                                <td>
                                                    <form method="get" action="card25.html"><button>Detalhar</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <table>
                                                <thead>

                                                    <tr>

                                                        <th>Quinta-Feira</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Imagem</th>
                                                        <th>Produto</th>
                                                        <th>Valor</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-title="imagem"><img id="card" src="quintaa.jpg"
                                                                alt="CANTIF"></td>
                                                        <td data-title="produto">Tradicional</td>
                                                        <td data-title="valor">R$18,00</td>

                                                        <td>
                                                            <form method="get" action="card26.html">
                                                                <button>Detalhar</button></form>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-title="imagem"><img id="card" src="quintaf.jpg"
                                                                alt="CANTIF"></td>
                                                        <td data-title="produto">Fitness</td>
                                                        <td data-title="valor">R$16,00</td>
                                                        <td>
                                                            <form method="get" action="card27.html">
                                                                <button>Detalhar</button></form>
                                                        </td>
                                                    </tr>
                                            </table>
                                            <table>
                                                </thead>
                                                <thead>
                                                    <table>
                                                        <thead>

                                                            <tr>

                                                                <th>Sexta-Feira</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Imagem</th>
                                                                <th>Produto</th>
                                                                <th>Valor</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td data-title="imagem"><img id="card" src="sexta.jpg"
                                                                        alt="CANTIF"></td>
                                                                <td data-title="produto">Tradicional</td>
                                                                <td data-title="valor">R$18,00</td>

                                                                <td>
                                                                    <form method="get" action="card28.html">
                                                                        <button>Detalhar</button></form>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td data-title="imagem"><img id="card" src="sextaf.jpg"
                                                                        alt="CANTIF"></td>
                                                                <td data-title="produto">Fitness</td>
                                                                <td data-title="valor">R$16,00</td>
                                                                <td>
                                                                    <form method="get" action="card29.html">
                                                                        <button>Detalhar</button></form>
                                                                </td>
                                                            </tr>
                                                    </table>
                                                    <table>
                                                </thead>
                                                <thead>
                                            </table>
                                            <table>
                                                </thead>
                                                <thead>






                                                    <br>


                                                    <br>

                                                    <br>

                                                    </label>
                                                    </label>
                                                    <input type="submit" value="Voltar">
                                                    </div>

                                                    </form>
                                                    </div>
</body>

</html>