<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="style6.css">
</head>

<body>


    <form action="index4.html">
        <a class="index5.html" id="Retornar"></a>
        <div id="main-container">

            <h1></h1>
            <form>
                <label>
                    <h1>Contatos</h1>
                    <br>
                    <a class="navbar-brand"
                        href="https://www.google.com.br/maps/place/IFSUL+-+Campus+Bag%C3%A9/@-31.3321112,-54.0740388,17z/data=!4m14!1m7!3m6!1s0x9505df3d8c550c31:0xfcdc0c240d6b238e!2sIFSUL+-+Campus+Bag%C3%A9!8m2!3d-31.3321158!4d-54.0718501!16s%2Fg%2F1tywz2zm!3m5!1s0x9505df3d8c550c31:0xfcdc0c240d6b238e!8m2!3d-31.3321158!4d-54.0718501!16s%2Fg%2F1tywz2zm">
                        <img id="mapa" src="mapa.png" alt="CANTIF">
                        <p>Av. Leonel de Moura Brizola - Pedras Brancas, Bagé - RS, 96418-400</p>
                </label>
                <br>
                <label>
                    <center>
                        <h3>Entre em contato</h3>
                        <h3>(53) 9 9936-4749</h3>
                        <h3>(53)3242-1990</h3>
                    </center>
                </label>
                <input type="submit" value="Voltar">
            </form>

        </div>
</body>

</html>