<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="stylecard1.css">
</head>

<body>

    <form action="index4.html">
        <div id="main-container">
            <h1></h1>
            <div id="social-container">
                </br>
                <label>
                    <label>

                        <h1>Coca Cola</h1>
                        <br>
                        <pre><center><font size=4><b><p>   Lata 350ml   </p></b></font></center></pre><br>
                        <center> <img id="card" src="coca1.jfif" alt="CANTIF"> </a></center>
                        <i>
                            <center>
                                <p> R$ 4,00</p>
                            </center>
                        </i>


                        <br>


                        <br>

                        <br>

                    </label>
                </label>
            </div>
            <div class="full-box">
                <input type="button" value="Fechar Janela" name="B1" onclick="javascript:window.close()">
            </div>
    </form>
    </div>
</body>

</html>