<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="style5.css">
</head>

<body>

    <form action="index4.html">
        <div id="main-container">
            <h1></h1>
            <div id="social-container">
                </br>
                <label>
                    <label>

                        <h1>Ainda não sei</h1>


                        <br>


                        <br>

                        <br>

                    </label>
                </label>
                <div class="full-box">

                </div>
                <input type="submit" value="Voltar">
    </form>
    </div>
</body>

</html>