<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANTIF</title>
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!-- Estilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style4.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>

    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
</head>

<body>
    <header>
        <div class="container" id="nav-container">
            <!-- add essa class -->
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark">


                <a class="navbar-brand" href="/contatos">
                    <img id="telefone" src="/img/telefone.png" alt="CANTIF">
                </a>
                <a class="navbar-brand" href="/contatos">
                    <img id="local" src="/img/local.png" alt="CANTIF">
                </a>
                <a class="navbar-brand" href="/cardapio">
                    <img id="menuzito" src="/img/menuzito.png" alt="CANTIF">

                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">
                        <img id="logo" src="Loguita.png" alt="CANTIF">


                        <a class="nav-item nav-link" id="team-menu" href="/login">Oie! <br>Vem fazer
                            seu login :)</a>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <ul>
        <h1> Fotos</h1>
    </ul>
    <main>
        <div class="container-fluid">

            <footer class="footer">
                <div class="inner-footer">
                    <ul>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a class="navbar-brand" href="/almoco">
                            <img id="topo" src="reserva.png" alt="CANTIF"> </a>
                        <a class="navbar-brand" href="/cardapio">
                            <img id="topo" src="cardapio.png" alt="CANTIF"></a>
                        <a class="navbar-brand" href="/login">
                            <img id="topo" src="logiiin.png" alt="CANTIF"></a>
                        <a class="navbar-brand" href="/noticias">
                            <img id="topo" src="novidades.png" alt="CANTIF"></a>
                        <br>
                        <br>
                        <br>
                        <div id="main-container">
                            <h1>Feed</h1>
                            <div id="social-container">
                                <img id="comida1" src="/img/marm1.jfif" alt="CANTIF">
                                <img id="comida1" src="pastel1.jfif" alt="CANTIF">
                                <img id="comida1" src="coxinha1.jfif" alt="CANTIF">
                                <img id="comida1" src="coca1.jfif" alt="CANTIF">
                                <img id="comida1" src="salad1.jfif" alt="CANTIF">
                                <img id="comida1" src="lanch1.jfif" alt="CANTIF">
                                <img id="comida1" src="marm2.jfif" alt="CANTIF">
                                <img id="comida1" src="pastel2.jfif" alt="CANTIF">
                                <img id="comida1" src="bala2.jfif" alt="CANTIF">
                                <img id="comida1" src="caff1.jfif" alt="CANTIF">
                                <img id="comida1" src="prat1.jfif" alt="CANTIF">
                                <img id="comida1" src="lanch2.jfif" alt="CANTIF">
                                <img id="comida1" src="marm3.jfif" alt="CANTIF">
                                <img id="comida1" src="salad2.jfif" alt="CANTIF">
                                <img id="comida1" src="coca2.jfif" alt="CANTIF">
                                <img id="comida1" src="coxinha2.jfif" alt="CANTIF">
                                <img id="comida1" src="pastel3.jfif" alt="CANTIF">
                                <img id="comida1" src="bala3.jfif" alt="CANTIF">
                                <img id="comida1" src="caff2.jfif" alt="CANTIF">
                                <img id="comida1" src="prat2.jfif" alt="CANTIF">
                                <img id="comida1" src="lanch3.jfif" alt="CANTIF">
                                <img id="comida1" src="marm4.jfif" alt="CANTIF">
                                <img id="comida1" src="salad2.jfif" alt="CANTIF">
                                <img id="comida1" src="coca3.jfif" alt="CANTIF">
                                <img id="comida1" src="agua1.jfif" alt="CANTIF">
                                <img id="comida1" src="pastel4.jfif" alt="CANTIF">
                                <img id="comida1" src="coxinha3.jfif" alt="CANTIF">
                                <img id="comida1" src="bala4.jfif" alt="CANTIF">

                                <li class="social-items"><a href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-square"></i>
                                <li class="social-items"><a href="https://www.instagram.com/"><i
                                            class="fab fa-instagram-square"></i>
                                <li class="social-items"><a href="https://www.google.com/"><i
                                            class="fab fa-google-plus-square"></i>
                                <li class="social-items"><a href="http://linkedin.com/"><i
                                            class="fab fa-linkedin"></i></a></li>
                    </ul>
                    <div class="quick-links">

                    </div>
                </div>
                <div class="outer-footer">
                    <img id="cartao" src="pix.png" alt="CANTIF">
                    <img id="cartao" src="visa.png" alt="CANTIF">
                    <img id="cartao" src="master.png" alt="CANTIF">
                    <img id="cartao" src="elo.png" alt="CANTIF">
                    <p>Entre em contato com a gente &copy;CANTIF</p>
                    <p>(53) 9 9936-4749</p>
                </div>
            </footer>
</body>

</html>